.edit{
    background: #242063;
}
    
.delete{
    background: #b12020;
}

.actions
{
    padding:5px;
    color: #FFF;
    text-decoration: none;
    font-size: 1em;
    margin: 0px 2px;
}

.actions:hover{
    text-decoration: none;
    color: #FFF;
}